@use "variables"as v;

header {
    width: 100%;
    height: 100vh;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg-grey.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* ******* NAVBAR ******* */
.menu.fa-bars,
.menu.fa-xmark {
    display: none;
    text-align: right;
    color: v.$mainColor;
    font-size: 2.5rem;
    position: fixed;
    z-index: 4;
    top: 4%;
    right: 4%;
}

/* ONLY FOR JS */
.navbar-js {
    width: 50%;
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: lightgray;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    box-shadow: -12px -2px 10px rgba(118, 139, 152, 0.3);
    transform: translateX(-100%);
    transition: transform 0.5s 1s linear;

    ul{
        margin-top : 2.5rem;
    }

    li {
        padding: 20px;
        list-style-type: none;

        &:active {
            background-color: v.$mainColor;

            a {
                color: white;
            }
        }
    }

    a {
        font-size: 1.2rem;
        text-decoration: none;
        color: v.$secondColor;

        i {
            font-size: 3rem;
        }
    }
}

/* END ONLY FOR JS */
.navbar {
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;

    ul {
        @include v.size (100vw, 50px);
        display: flex;
        @include v.flex-align($jc:flex-end, $ai:center);
        gap: 30px;
        padding-right: 80px;

        li {
            list-style-type: none;

            &:first-child i {
                font-size: 1.3rem;
            }

            &:hover a {
                border-bottom: 2px solid white;
            }

            a {
                color: white;
                font-size: 1.1rem;
                text-transform: uppercase;
                font-family: v.$fontPrim;
                text-decoration: none;
            }
        }
    }
}

/* ******* HEADER-CENTER ******* */
.header-center {
    @include v.size(100%, calc(100% - 50px));
    display: flex;
    flex-direction: column;
    @include v.flex-align($jc:center, $ai:center);
    gap: 15%;

    .intro {
        font-family: v.$bold;
        color: white;
        text-align: center;
        p{
            padding : 5px;
            text-align: center;
        }
        .sub {
            font-size: 1.3rem;
            font-family: v.$fontPrim;
            text-transform: uppercase;

        }
    }

    .main-skills {
        display: flex;
        @include v.flex-align($jc:center, $ai:center);
        width: 100%;
        gap: 10%;

        .skill {
            width: 10%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            @include v.flex-align($jc:center, $ai:center);

            i {
                font-size: 5rem;
                color: white;
            }

            p {
                font-family: v.$fontPrim;
                color: white;
                font-weight: 600;
            }
        }
    }
}

/**************** JS's animation **********************/
#animate {
    overflow: hidden;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 2.7rem;

    p {
        display: inline-block;
        width: fit-content;
        overflow: hidden;
    }

    .blink-bar {
        display: inline-block;
        z-index: 1;
        width: 8px;
        height: 30px;
        background-color: white;
        margin-top: 10px;
        //animation: blink 0.5s infinite ease-in-out;
    }
}

/* ************** ANIMATIONS ************ */
/* @keyframes blink{
    from{
        opacity: 0;
    } to{
        opacity:1;
    }
} */
/* ******* FIN HEADER-CENTER ******* */