@use "variables"as v;

/* *** TABLETTE */

@media screen and (max-width : 900px) {

    div[class$="container"] {
        width: 90vw;
    }

    section {
        margin: 3rem 0 4rem;
    }

    h2 {
        font-size: 1.3rem;


        span {
            font-size: 5rem;
        }
    }


    /* *** HEADER*** */
    header {
        height: 60vh;
    }

    .menu.fa-bars, .menu.fa-xmark {
        display: block;
    }

    .navbar {
        display: none;
    }

    .header-center {
        width: 95%;
        margin: 5px auto 0;

        .intro {
            font-size: 2rem;

            span {
                font-size: 3.5rem;
            }
        }

        .main-skills {
            gap: 15%;

            .skill {
                width: 15%;
            }
        }
    }


    /* *** FIN HEADER *** */


    /* *** SECTION A PROPOS *** */
    .main-section {
        width: 90vw;
        grid-gap: 0 10px;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 100px 1fr 110px;
    }

    /* ** MAIN ** */
    .main {
        p {
            font-size: 1rem;
        }
    }

    /* ** SIDE ** */
    .side {
        .side-photo {
            img {
                width: 80%;
                transform: translateX(25px);
            }
        }

        .side-infos {
            p {
                font-size: 0.9rem;
                padding: 0.5rem 0;
            }
        }
    }

    /* ** CTA ** */
    .cta {
        button {
            width: 21vw;

            a {
                font-size: 1.05rem;
                ;
            }
        }
    }

    /* *** FIN SECTION A PROPOS */

    /* *** SECTION COMPETENCES *** */

    .skill-item {
        grid-gap: 0 30px;
        grid-template-columns: 1fr 120px;

        &:nth-child(even) {
            grid-template-columns: 120px 1fr;
        }
    }

    .skill-image {
        i {
            font-size: 6rem;
        }
    }

    /* ***FIN SECTION COMPETENCES *** */

    /* *** SECTION PARCOURS *** */
    .parcours-container {
        &::after {
            left: 165px;
        }
    }

    .exp-box {
        grid-gap: 0 75px;
    }

    /* *** FIN SECTION PARCOURS *** */

    /* *** SECTION FOLIO *** */
    .folio-container {
        width: 90vw;
        grid-template-columns: 650px;
        grid-template-rows: 500px 500px 500px 500px;
        justify-content: center;
    }

    /* *** FIN SECTION FOLIO *** */

    /* *** SECTION CONTACT */
    .contact-container {
        width: 90vw;
        grid-template-rows: 130px 180px;
    }

    .contact-infos {
        p {
            font-size: 1.2rem;
            line-height: 2;
        }
    }

    .contact {
        i {
            font-size: 2.5rem;
            ;
        }

        p {
            font-size: 1rem;
        }
    }

    #irl {
        span {
            display: block;
            font-size: 1.2rem;
            padding: 0 15px
        }

        p {
            .span {
                font-family: v.$medium;
                color: rgb(54, 52, 52);
                font-size: 1rem;
            }
        }
    }

    footer {
        height: 75px;

        p {
            line-height: 75px;
        }
    }

    /* *** FIN SECTION CONTACT */
}

/* ***************** MOBILE ************** */

@media screen and (max-width:700px) {
    h2 {
        font-size: 1.3rem;


        span {
            font-size: 3.5rem;
            top: -25px;
        }
    }

    /* *** HEADER *** */
    header {
        height: 50vh;
    }

    .menu.fa-bars, .menu.fa-xmark {
        right: 3%;
        font-size: 2.2rem;
    }

    .header-center {
        gap: 10%;

        .intro {
            font-size: 2rem;

            span {
                font-size: 2.5rem;
            }
        }

        .main-skills {
            .skill {
                i {
                    font-size: 4rem;
                }
            }
        }
    }

    /* *** FIN HEADER *** */

    /* *** SECTION ABOUT *** */
    .main-section {
        width: 95vw;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px 1fr 110px;
        row-gap: 5px;
        grid-template-areas:
            "h2 h2"
            "side side"
            " main main"
            "cta cta";
    }

    .side {
        flex-direction: row;

        .side-photo {
            width: 50%;

            img {
                width: 70%
            }
        }

        .side-infos {
            width: 50%;
        }
    }

    .main {
        p {
            padding: 0 35px;

            span {
                display: block;
                text-align: center;
            }
        }
    }

    .cta {
        button {
            width: 30vw;

            a {
                font-size: 0.95rem;
            }
        }
    }

    /* *** FIN SECTION ABOUT *** */

    /* *** SECTION SKILLS *** */
    .skills-library {
        grid-template-rows: 350px 350px 280px 485px;
    }

    .skill-item {
        grid-template-columns: 1fr;
        grid-template-areas: "c";

        &:nth-child(even) {
            grid-template-columns: 1fr;
            grid-template-areas: "c";
        }
    }

    .skill-image {
        display: none;
    }

    /* *** FIN SECTION SKILLS  */

    /* *** SECTION PARCOURS */
    .section-parcours {
        .parcours-container {
            width: 90vw;

            &::after {
                display: none;
            }
        }
    }

    .exp-box {
        grid-template-columns: 1fr;
        grid-template-areas: "xp";
    }

    .exp-details {
        &::before {
            display: none;
        }
    }

    .exp-date {
        flex-direction: row;
        gap: 5px;
        width: 100%;
        height: 70px;
        border-radius: 0;
        position: absolute;
        top: -35px;
        background-color: transparent;

        p {
            font-size: 1.5rem;
            color: v.$mainColor;
        }
    }

    /* *** FIN SECTION PARCOURS */

    /* *** SECTION FOLIO *** */
    .folio-container {
        grid-template-columns: 500px;
        grid-template-rows: repeat(4, 450px);
    }

    /* *** FIN SECTION FOLIO *** */

    /* *** SECTION CONTACT *** */
    .contact-container {
        grid-template-rows: 120px 180px;
    }

    .contact-infos {
        p {
            font-size: 1.1rem;
        }

    }

    .contact {
        i {
            font-size: 2rem;
        }

        p {
            font-size: 0.75rem;
        }
    }

    #irl {
        span {
            font-size: 1.1rem;
        }

        p {
            .span {
                font-size: 0.8rem;
                font-family: v.$bold;
            }
        }
    }

    footer {
        height: 60px;

        p {
            line-height: 60px;
            font-size: 0.9rem;
        }
    }

    /* *** FIN SECTION CONTACT */
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 1.1rem;

        span {
            font-size: 2.5rem;
            top: -15px;
        }
    }

    /* *** SECTION COMPETENCES *** */
    .skills-library {
        grid-template-rows: 350px 350px 280px 400px;
    }

    .skill-info {
        h3 {
            font-size: 1.1rem;
        }

        p {
            font-size: .9rem;
        }
    }

    .skill-mention {
        grid-gap: 0 10px;

        p,
        i {
            font-size: 0.8rem;
        }

        .names {
            p {
                line-height: 2.7;
            }
        }
    }

    #others {

        h3 {
            margin-bottom: 20px;
        }

        p,
        span {
            font-size: 0.9rem;
            line-height: 2;
        }

        span {
            font-family: v.$bold;

            i {
                font-size: 0.9rem;
            }
        }
    }

    /* *** FIN SECTION COMPETENCES */

    /* *** SECTION PARCOURS *** */

    .section-parcours {
        margin-bottom: 0;
    }

    .exp-date {
        p {
            font-size: 1.3rem;
            ;
        }
    }

    .exp-details {
        h3 {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 1.1rem;
        }

        p,
        li {
            font-size: 0.95rem;
        }

        span {
            font-size: 1rem;
        }
    }

    .before {
        left: -8%;

    }

    .after {
        right: -8%;
    }

    /* *** FIN SECTION PARCOURS *** */

    /* *** SECTION FOLIO *** */
    .folio-container {
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 400px);
        grid-gap: 2rem;
    }

    .tags {
        li {
            font-size: 0.75rem;
        }

    }

    .overlay-text {
        h4 {
            padding: 20px 0;
        }

        .inner-title {
            font-size: 0.95rem
        }

        .folio-inner {
            font-size: 0.9rem;
        }
    }

    /* *** FIN SECTION FOLIO */

    /* *** SECTION CONTACT *** */

    .contact-container {
        width: 85vw;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 200px 200px 200px;
        gap: 5px;
        row-gap: 25px;
    }

    .contact-infos {
        grid-row: 1/2;
    }
    .contact{
        p{
            font-size: 1.2rem;
        }
        i{
            font-size: 2.5rem;
        }
    }
    #mail {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #lkd {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #irl {
        grid-column: 1/2;
        grid-row: 4/5;
        span{
            font-size: 1.5rem;
            text-align: center;
        }
        p {
            text-align: center;
            .span{
                display: inline;
                font-size: 1.2rem;
                padding : 0;
            }
        }
    }


    /* *** FIN SECTION CONTACT *** */
}

@media screen and (max-width:420px) {
    .cta{
        gap:30px;
        button{
            width : 38vw;
        }
    }
    .skills-library {
        grid-template-rows: 550px 550px 380px 470px;
    }
    .folio-container {
        grid-template-columns: 340px;
    }
}